 # Various IDEs and Editors
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
dist/

# env
# 根据自己环境配置，不用提交
.env.local
.env.*.local
