@font-face {
  font-family: "iconfont"; /* Project id 2797374 */
  src: url('//at.alicdn.com/t/font_2797374_mxwb3opxip.woff2?t=1631605292582') format('woff2'),
       url('//at.alicdn.com/t/font_2797374_mxwb3opxip.woff?t=1631605292582') format('woff'),
       url('//at.alicdn.com/t/font_2797374_mxwb3opxip.ttf?t=1631605292582') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_discord:before {
  content: "\e609";
}

.icon-shoucang:before {
  content: "\e607";
}

.icon-zhuanfa:before {
  content: "\e608";
}

.icon-interter:before {
  content: "\e602";
}

.icon-gethub:before {
  content: "\e603";
}

.icon-medium:before {
  content: "\e604";
}

.icon-telegram:before {
  content: "\e605";
}

.icon-twitter:before {
  content: "\e606";
}

.icon-facebook:before {
  content: "\e601";
}
