html {
    overflow-y: scroll;
}

:root {
    overflow-y: auto;
    overflow-x: hidden;
}

:root body {
    position: absolute;
}

body {
    width: 100vw;
    overflow: hidden;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto-Regular.woff2') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto-Bold.woff2') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

#app {
    background-color: #000;
}

.btn-disable {
    transition: color .3s;
    background-color: gainsboro!important;
    border-color: gainsboro!important;
    box-shadow: 0 3px 5px 0 rgba(172, 172, 172, 0.65) !important;
}

.btn-disable:focus {
    transition: color .3s;
    background-color: gainsboro!important;
    border-color: gainsboro!important;
    box-shadow: 0 3px 5px 0 rgba(172, 172, 172, 0.65) !important;
}

.i-btn {
    background-color: rgba(92, 114, 229, 0.85)!important;
    border-color: rgba(92, 114, 229, 0.85)!important;
    color: #FFFFFF!important;
    transition: color .3s;
    border-radius: 8px!important;
}

.i-btn:hover {
    background-color: rgba(92, 114, 229, 1)!important;
    border-color: rgba(92, 114, 229, 1)!important;
    color: #FFFFFF!important;
}

.i-font-md {
    font-size: 18px!important;
    font-weight: 400!important;
}

.i-btn-sm {
    padding: 7px 16px;
    font-size: 10px;
}

.mt-i-6 {
    margin-top: 3.5rem!important;
}

.flex-x-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-y-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}